<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.product.mapper.BaseAttrInfoMapper">
    <resultMap id="BaseResultMap" type="com.atguigu.gmall.model.product.BaseAttrInfo" autoMapping="true">
        <id property="id" column="id" jdbcType="BIGINT"/>
<!--        <result property="attrName" column="attr_name" jdbcType="VARCHAR"/>-->
<!--        <result property="categoryId" column="category_id" jdbcType="BIGINT"/>-->
<!--        <result property="categoryLevel" column="category_level" jdbcType="INTEGER"/>-->
        <collection property="attrValueList" ofType="com.atguigu.gmall.model.product.BaseAttrValue" autoMapping="true">
        <id property="vid" column="id"/>
</collection>
    </resultMap>

<!--    <select id="byCategorySelectBaseAttr" resultType="BaseResultMap">-->
<!--    select  a.*,b.id vid,b.* from base_attr_info a-->
<!--    left join activity_rule b on a.id=b.attr_id-->
<!--    where (a.category_id=#{c1Id} and a.category_level=1) or-->
<!--          (a.category_id=#{c2Id} and a.category_level=2) or-->
<!--          (a.category_id=#{c3Id} and a.category_level=3)-->
<!--    </select>-->

    <select id="byCategorySelectBaseAttr" resultType="BaseResultMap">
    select  a.*,b.id vid,b.* from base_attr_info a
    left join activity_rule b on a.id=b.attr_id
    where (a.category_id=#{c1Id} and a.category_level=1) or
          (a.category_id=#{c2Id} and a.category_level=2) or
          (a.category_id=#{c3Id} and a.category_level=3)
</select>
</mapper>
